!.docker/
!.docker/*

.vscode
code/vendor/
code/config.php
code/composer.lock
.env
data/
phpmyadmin/
code/public/uploads
*.log
data/logs/access.log
data/logs/error.log

code/assets/img/avatars/*
code/assets/img/crest/*
code/assets/img/portraits/*

code/config/dev/*
code/storage/*
code/storage

!.gitkeep
